@charset "ISO-8859-1";

.text{
	text-align: center;
}

.text1, .text2{
	color:black;
	font-family:'Lucida Sans';
}


.submitBox{
	color:rgb(64, 128, 128); 
	font-family: 'Lucida Sans';
	
}

.title1, .title2{
	color:black;
	font-family:'Lucida Sans';
	text-align: center;
	
}

body{
	background-image: url('better.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}